<form method="get" action="http://localhost:9000/processRequest">
FirstName:<input type="text" name="firstName"/><br><br>
LastName:<input type="text" name="lastName"/><br><br>
Password:<input type="password" name="password"/><br><br>
<input type="submit" value="login"/><br><br>
</form>